@import "tailwindcss";

@tailwind utilities;
@tailwind utilities;

@keyframes buzzer {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.animate-buzzer {
  animation: buzzer 0.4s linear infinite;
}

